.sign-in-body {
    background-color: #f4f4f4;
}

.container.sign-in-container {
    margin-top: 8%;
}

.card.sign-in-card {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    border: none;
    transition: all .3s linear;
}

img.sign-in-logo {
    padding: 0 2em 2em;
    margin: auto;
    display: block;
    max-width: 250px;
    height: auto;
}

form.sign-in-form{
    padding: 0px 5px 5px 0px;
    max-width: 350px;
    margin: auto;
}

button.sign-in-btn {
    width: 100%;
}

.new-account-create {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .sign-in-body {
        background-color: #e6f2ff;
    }
    .card.sign-in-card {
        border: 1px solid lightgray;
        padding: 20px 20px;
        background-color: #f4f4f4;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
        -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
        -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    }
}
